.contact {
    background-color: #fa5b5b;
    color: black;
    padding: 50px 20px;
    text-align: center;
  }
  
  .contact h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  a{
    text-decoration: none;
    color: black;
  }
  .insta{
    font-size: 44px;
  }
  .contact p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .contact-info {
    text-align: center;
    margin-top: 20px;
  }
  
  .contact-info .react-icons {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .contact-info span {
    display: block;
    font-size: 1.1em;
    line-height: 1.6;
    color: black;
    margin-bottom: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .contact h1 {
      font-size: 2em;
    }
  
    .contact p {
      font-size: 1em;
    }
  
    .contact-info .react-icons {
      font-size: 24px;
    }
  
    .contact-info span {
      font-size: 1em;
    }
    a{
      text-decoration: none;
      color: black;
    }
    .insta{
      font-size: 48px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .contact h1 {
      font-size: 1.8em;
    }
  
    .contact p {
      font-size: 0.9em;
    }
  
    .contact-info .react-icons {
      font-size: 20px;
    }
  
    .contact-info span {
      font-size: 0.9em;
    }
    a{
      text-decoration: none;
      color: black;
    }
    .insta{
      font-size: 40px;
    }
    .heading2{
      font-size: 1.4em;
    }
    .phone{
      border: 2px dotted;
      padding: 10px;
    }
  }